@model WebGestImmobilier.Models.Maison

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Suppression</h2>

<div class="confirmation">
    <h3>Etes vous sure de bien vouloir supprimer?</h3>
    <div>
        <h4>Maison</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>Propriétaire</dt>
            <dd>@Html.DisplayFor(model => model.Proprietaire.NomPropri)</dd>

            <dt>Description</dt>
            <dd>@Html.DisplayFor(model => model.Description)</dd>

            <dt>Prix</dt>
            <dd>@Html.DisplayFor(model => model.Prix)</dd>

            <dt>Superficie</dt>
            <dd>@Html.DisplayFor(model => model.Superficie)</dd>

            <dt>Localisation</dt>
            <dd>@Html.DisplayFor(model => model.Localisation)</dd>

            <dt>Chambres</dt>
            <dd>@Html.DisplayFor(model => model.Nbre_chambres)</dd>

            <dt>Douches</dt>
            <dd>@Html.DisplayFor(model => model.Nbre_douche)</dd>

            <dt>Cuisines</dt>
            <dd>@Html.DisplayFor(model => model.Nbre_cuisine)</dd>

            <dt>Toilettes</dt>
            <dd>@Html.DisplayFor(model => model.NbreToilette)</dd>
        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions">
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
            </div>
        }
    </div>
</div>
