@model IEnumerable<WebGestImmobilier.Models.Maison>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Liste des maisons</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>

<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Owner</th>
                <th>Description</th>
                <th>Price</th>
                <th>Area (m²)</th>
                <th>Location</th>
                <th>Bedrooms</th>
                <th>Bathrooms</th>
                <th>Kitchens</th>
                <th>Toilets</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Proprietaire.NomPropri)</td>
                    <td>@Html.DisplayFor(modelItem => item.Description)</td>
                    <td>@Html.DisplayFor(modelItem => item.Prix)</td>
                    <td>@Html.DisplayFor(modelItem => item.Superficie)</td>
                    <td>@Html.DisplayFor(modelItem => item.Localisation)</td>
                    <td>@Html.DisplayFor(modelItem => item.Nbre_chambres)</td>
                    <td>@Html.DisplayFor(modelItem => item.Nbre_douche)</td>
                    <td>@Html.DisplayFor(modelItem => item.Nbre_cuisine)</td>
                    <td>@Html.DisplayFor(modelItem => item.NbreToilette)</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Idmaison }, new { @class = "btn btn-warning btn-sm" }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Idmaison }, new { @class = "btn btn-info btn-sm" }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Idmaison }, new { @class = "btn btn-danger btn-sm" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
