@model PagedList.IPagedList<WebGestImmobilier.Models.Proprietaire>
@using PagedList.Mvc ;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    h2 {
        margin-bottom: 20px;
    }

    .search-container {
        margin-bottom: 20px;
    }

    .table th, .table td {
        vertical-align: middle;
    }
</style>

<h2>Liste des Propriétaires</h2>

<div class="row">
    <div class="col-md-6">
        <p>
            @Html.ActionLink("Créer un nouveau", "Create", null, new { @class = "btn btn-primary" })
        </p>
    </div>
    <div class="col-md-6">
        @using (Html.BeginForm("Index", "Proprietaires", FormMethod.Get))
        {
            <div class="input-group">
                @Html.TextBox("searchString", ViewBag.CurrentFilter as string, new { @class = "form-control", placeholder = "Rechercher par nom du propriétaire ou prénom" })
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Rechercher</button>
                </span>
            </div>
        }
    </div>
</div>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nom de l'utilisateur</th>
                <th>Identifiant Propriétaire</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Utilisateures.nomUsers)</td>
                    <td>@Html.DisplayFor(modelItem => item.NomPropri)</td>
                    <td>
                        @Html.ActionLink("Modifier", "Edit", new { id = item.Idproprietarie }, new { @class = "btn btn-warning btn-sm" }) |
                        @Html.ActionLink("Détails", "Details", new { id = item.Idproprietarie }, new { @class = "btn btn-info btn-sm" }) |
                        @Html.ActionLink("Supprimer", "Delete", new { id = item.Idproprietarie }, new { @class = "btn btn-danger btn-sm" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-md-12">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
    </div>
</div>
