@model WebGestImmobilier.Models.Utilisateurs

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Supprimer</h2>

<h3>Êtes-vous sûr de vouloir supprimer ceci ?</h3>

<div class="row">
    <div class="col-md-6">
        <h4>Informations Utilisateur</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.nomUsers)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.nomUsers)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.prenom)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.prenom)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.login)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.login)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.addPhoneNumber2)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.addPhoneNumber2)
            </dd>
        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                <input type="submit" value="Supprimer" class="btn btn-danger" /> |
                @Html.ActionLink("Retour à la liste", "Index", null, new { @class = "btn btn-default" })
            </div>
        }
    </div>
</div>
