@model PagedList.IPagedList<WebGestImmobilier.Models.Utilisateurs>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />

<h2>Liste des Utilisateurs</h2>

<p>
    <a href="@Url.Action("Create")" class="btn btn-primary">Créer un nouvel utilisateur</a>
</p>

@using (Html.BeginForm("Index", "Utilisateurs", FormMethod.Get, new { @class = "form-inline" }))
{
    <div class="form-group mb-3">
        @Html.TextBox("searchString", ViewBag.CurrentFilter as string, new { @class = "form-control", placeholder = "Rechercher par nom" })
        <button type="submit" class="btn btn-secondary">Rechercher</button>
    </div>
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.ActionLink("Nom Utilisateur", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })</th>
            <th>Prénom</th>
            <th>Login</th>
            <th>@Html.ActionLink("Email", "Index", new { sortOrder = ViewBag.MailSortParm, currentFilter = ViewBag.CurrentFilter })</th>
            <th>Numéros de téléphone</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.nomUsers)</td>
                <td>@Html.DisplayFor(modelItem => item.prenom)</td>
                <td>@Html.DisplayFor(modelItem => item.login)</td>
                <td>@Html.DisplayFor(modelItem => item.email)</td>
                <td>@Html.DisplayFor(modelItem => item.addPhoneNumber2)</td>
                <td>
                    <a href="@Url.Action("Edit", new { id = item.IdUsers })" class="btn btn-warning btn-sm">Modifier</a>
                    <a href="@Url.Action("Details", new { id = item.IdUsers })" class="btn btn-info btn-sm">Détails</a>
                    <a href="@Url.Action("Delete", new { id = item.IdUsers })" class="btn btn-danger btn-sm">Supprimer</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="d-flex justify-content-center">
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
</div>
<div class="d-flex justify-content-center">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>

